/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --background-main-color:#d3d3d3;
    --background-opacity:rgba(211, 211, 211, 0);
    --background-gradient-light:#e7e7e7;
    --background-gradient-dark:#1a1a1a;
    --border:black;
    --background:#FFF;
    --themes-main-color:black;
    --color:white;
    --main-color:white;
    --contour:black;
    --sparcks:white;
    --core:white;
    --corentcolor:black;
    --shadow:white;
    --floppy:black;
    --main-font-weight:400;
    --header-font-weight:400;
    --title-font-weight:700;
}